<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add Movie</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="topper">
    <div class="header-title">
      <h1 class="main-body-header">Add Movie</h1>
    </div>
    <div class="header-btns">
      <a href="javascript:history.back()" class="new-movie-btn">Cancel</a>
      <button form="movieForm" class="new-movie-btn" type="submit">Add Movie</button>
    </div>
  </div>
  
  <div class="new-movie-form">
    <form id="movieForm" action="/watchlist" method="POST">
      <div class="new-movie-input">
        <div class="new-movie-input-label">
          <label for="title">
            Title <span class="required">*</span>
          </label>
        </div>
          <input type="text" name="title" id="title" required>
      </div>
      <div class="new-movie-input">
        <div class="new-movie-input-label">
          <label for="poster">Poster</label>
        </div>
          <input type="text" name="poster" id="poster">
      </div>
      <div class="new-movie-input">
        <div class="new-movie-input-label">
          <label for="genre">Genre</label>
        </div>
          <input type="text" name="genre" id="genre">
      </div>
      <div class="new-movie-input">
        <div class="new-movie-input-label">
          <label for="releaseDate">Release Date</label>
        </div>
          <input type="date" name="releaseDate" id="releaseDate">
      </div>
      <div class="new-movie-input">
        <div class="new-movie-input-label">
          <label for="director">Director</label>
        </div>
          <input type="text" name="director" id="director">
      </div>
      <div class="new-movie-input">
        <div class="new-movie-input-label">
          <label for="status">
            Status <span class="required">*</span>
          </label>
        </div>
          <select name="status" id="status" required>
            <option value="Want to watch">Want to watch</option>
            <option value="Currently watching">Currently watching</option>
            <option value="Watched">Watched</option>
          </select>
      </div>
    </form>
  </div>
  
</body>
</html>