<nav>
    <% if (user) { %>
        <a href="/">Home</a>
        <a href="/watchlist">My Watchlist</a>
        <a href="/auth/sign-out">Sign out</a>
    <% } else { %>
        <a href="/">Home</a>
        <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">sign in</a>.
    <% } %>
</nav>