* {
  box-sizing: border-box
}

body {
  /* background-color: rgb(48, 3, 3); */
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, sans-serif;
  /* Ensures full height compatibility across devices */
  min-height: 100dvh;
  margin: 0;
}

.main-body-header {
  color: rgb(12, 12, 12);
  padding: 20px;
}

.body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(12, 12, 12);
}

.topper {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
}

.new-movie-link {
  display: inline-block;
  background-color: #007BFF;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-align:right;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-movie-link:hover {
    background-color: #0056b3;
}

.movie-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.movie-card {
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.movie-card img {
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.movie-card a {
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.movie-card a:hover {
  transform: translateY(-10px);
  transition: transform 0.2s ease;
}

.show-movie {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.show-poster {
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.show-details {
  padding: 20px;
  top: 0;
}
